@tailwind base;
@tailwind components;
@tailwind utilities;
.star-rating input[type="radio"] {
    display: none;
}

.star-rating label {
    font-size: 2rem;
    color: gray;
    cursor: pointer;
}

.star-rating input[type="radio"]:checked ~ label {
    color: gold;
}

.star-rating input[type="radio"]:checked ~ label ~ label {
    color: gray;
}
